<a href="https://colab.research.google.com/github/comandi1969/AIFFEL_Online_Quest/blob/main/ML_With_Python/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EA%B8%B0%EC%B4%88_%EB%85%B8%EB%93%9C2_%ED%8C%90%EB%8B%A4%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
menu_list = ['후라이드', '양념치킨', '양반후반']
menu = pd.Series(menu_list)
menu
#type(menu)

0    후라이드
1    양념치킨
2    양반후반
dtype: object

In [10]:
p_list = ['12000', '13000', '13000']
price = pd.Series(p_list)
price
# type(price)

0    12000
1    13000
2    13000
dtype: object

In [16]:
m = pd.DataFrame({'메뉴': menu, '가격': price})
m

     메뉴     가격
0  후라이드  12000
1  양념치킨  13000
2  양반후반  13000

In [17]:
type(m)

pandas.core.frame.DataFrame

In [19]:
data = {'메뉴': ['후라이드', '양념치킨', '양반후반'], '가격': [12000, 13000, 13000], '호수': ['10호', '10호', '9호']}
df = pd.DataFrame(data)
df

     메뉴     가격   호수
0  후라이드  12000  10호
1  양념치킨  13000  10호
2  양반후반  13000   9호

In [22]:
data = {
    "메뉴":['후라이드', '양념치킨', '간장치킨', '마늘치킨', '파닭', '닭강정', '양반후반'],
    "가격":[12000, 13000, 14000, 14000, 14000, 15000, 13000],
    "호수":['10호', '10호', '9호', '9호', '11호', '12호', '10호'],
    "칼로리":[1000, 1400, 1600, 1800, 1300, 1500, 1300],
}
data = pd.DataFrame(data)
data.to_csv('modudak.csv', index=False)

In [23]:
pd.read_csv('modudak.csv')

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [24]:
df = pd.read_csv('modudak.csv')

In [27]:
df.tail()

     메뉴     가격   호수   칼로리
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [26]:
df.head(2)

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400

In [28]:
df.to_csv('test.csv', index=False)

In [30]:
pd.read_csv('test.csv')

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [33]:
#df['메뉴']
df.메뉴

0    후라이드
1    양념치킨
2    간장치킨
3    마늘치킨
4      파닭
5     닭강정
6    양반후반
Name: 메뉴, dtype: object

In [35]:
df[['메뉴', '가격']]

     메뉴     가격
0  후라이드  12000
1  양념치킨  13000
2  간장치킨  14000
3  마늘치킨  14000
4    파닭  14000
5   닭강정  15000
6  양반후반  13000

In [36]:
type(df[['메뉴', '가격']])

pandas.core.frame.DataFrame

In [37]:
df['가격'] >= 14000

0    False
1    False
2     True
3     True
4     True
5     True
6    False
Name: 가격, dtype: bool

In [39]:
cond = df['가격'] >= 14000
df[cond]

     메뉴     가격   호수   칼로리
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500

In [40]:
cond1 = df['가격'] >= 14000
cond2 = df['호수'] == '9호'
df[cond1 & cond2]

     메뉴     가격  호수   칼로리
2  간장치킨  14000  9호  1600
3  마늘치킨  14000  9호  1800

In [44]:
cond1 = df['가격'] >= 14000
cond2 = df['호수'] == '9호'
df[cond1 | cond2]

     메뉴     가격   호수   칼로리
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500

In [46]:
cond = df['호수'].isin(['9호', '10호'])
#df[cond]
df[df['호수'].isin(['9호', '10호'])]

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
6  양반후반  13000  10호  1300

In [55]:
df = pd.read_csv('modudak.csv')
print(df)
df['index'] = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(df)
df = df.set_index(keys=['index'])
print(df)

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300
     메뉴     가격   호수   칼로리 index
0  후라이드  12000  10호  1000     a
1  양념치킨  13000  10호  1400     b
2  간장치킨  14000   9호  1600     c
3  마늘치킨  14000   9호  1800     d
4    파닭  14000  11호  1300     e
5   닭강정  15000  12호  1500     f
6  양반후반  13000  10호  1300     g
         메뉴     가격   호수   칼로리
index
a      후라이드  12000  10호  1000
b      양념치킨  13000  10호  1400
c      간장치킨  14000   9호  1600
d      마늘치킨  14000   9호  1800
e        파닭  14000  11호  1300
f       닭강정  15000  12호  1500
g      양반후반  13000  10호  1300

In [56]:
df.loc['a'] # 딕셔너리 형식으로 반환

메뉴      후라이드
가격     12000
호수       10호
칼로리     1000
Name: a, dtype: object

In [57]:
df.loc[:, '가격']

index
a    12000
b    13000
c    14000
d    14000
e    14000
f    15000
g    13000
Name: 가격, dtype: int64

In [58]:
df.loc['b', '가격']

13000

In [62]:
df

         메뉴     가격   호수   칼로리
index
a      후라이드  12000  10호  1000
b      양념치킨  13000  10호  1400
c      간장치킨  14000   9호  1600
d      마늘치킨  14000   9호  1800
e        파닭  14000  11호  1300
f       닭강정  15000  12호  1500
g      양반후반  13000  10호  1300

In [67]:
df.loc['c', ['메뉴', '가격']]
df.loc['c', ['메뉴', '가격', '호수']]
df.loc['c', ['메뉴', '가격', '호수', '칼로리']]

df.loc['c', '메뉴':'가격']
df.loc['c', '메뉴':'호수']
df.loc['c', '메뉴':'칼로리']

메뉴      간장치킨
가격     14000
호수        9호
칼로리     1600
Name: c, dtype: object

In [68]:
df.loc['c', ['메뉴', '칼로리']]

메뉴     간장치킨
칼로리    1600
Name: c, dtype: object

In [74]:
df.loc['b':'d', '메뉴':'가격']

         메뉴     가격
index
b      양념치킨  13000
c      간장치킨  14000
d      마늘치킨  14000

In [77]:
df.loc[:'d', '메뉴':'가격']

         메뉴     가격
index
a      후라이드  12000
b      양념치킨  13000
c      간장치킨  14000
d      마늘치킨  14000

In [78]:
df.loc['b':, '메뉴':'가격']

         메뉴     가격
index
b      양념치킨  13000
c      간장치킨  14000
d      마늘치킨  14000
e        파닭  14000
f       닭강정  15000
g      양반후반  13000

In [79]:
df.loc[:, '메뉴':'가격']

         메뉴     가격
index
a      후라이드  12000
b      양념치킨  13000
c      간장치킨  14000
d      마늘치킨  14000
e        파닭  14000
f       닭강정  15000
g      양반후반  13000

In [76]:
df.loc[['b', 'd'], '메뉴':'가격']

         메뉴     가격
index
b      양념치킨  13000
d      마늘치킨  14000

In [80]:
df

         메뉴     가격   호수   칼로리
index
a      후라이드  12000  10호  1000
b      양념치킨  13000  10호  1400
c      간장치킨  14000   9호  1600
d      마늘치킨  14000   9호  1800
e        파닭  14000  11호  1300
f       닭강정  15000  12호  1500
g      양반후반  13000  10호  1300

In [85]:
df.iloc[0, :]

메뉴      후라이드
가격     12000
호수       10호
칼로리     1000
Name: a, dtype: object

In [87]:
print(df.iloc[:, 1])

index
a    12000
b    13000
c    14000
d    14000
e    14000
f    15000
g    13000
Name: 가격, dtype: int64

In [89]:
df.iloc[2, 0:2]

메뉴     간장치킨
가격    14000
Name: c, dtype: object

In [90]:
df

         메뉴     가격   호수   칼로리
index
a      후라이드  12000  10호  1000
b      양념치킨  13000  10호  1400
c      간장치킨  14000   9호  1600
d      마늘치킨  14000   9호  1800
e        파닭  14000  11호  1300
f       닭강정  15000  12호  1500
g      양반후반  13000  10호  1300

In [91]:
df.iloc[1:3, :] # == df.iloc[[1, 2], :]

         메뉴     가격   호수   칼로리
index
b      양념치킨  13000  10호  1400
c      간장치킨  14000   9호  1600

In [93]:
df.iloc[[1, 2], :]

         메뉴     가격   호수   칼로리
index
b      양념치킨  13000  10호  1400
c      간장치킨  14000   9호  1600

In [108]:
df = pd.read_csv('modudak.csv')
df

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [109]:
df = df.set_index(keys='메뉴')
df

         가격   호수   칼로리
메뉴
후라이드  12000  10호  1000
양념치킨  13000  10호  1400
간장치킨  14000   9호  1600
마늘치킨  14000   9호  1800
파닭    14000  11호  1300
닭강정   15000  12호  1500
양반후반  13000  10호  1300

In [112]:
df.loc['양념치킨':'마늘치킨', '호수':'칼로리']

       호수   칼로리
메뉴
양념치킨  10호  1400
간장치킨   9호  1600
마늘치킨   9호  1800

In [115]:
df.iloc[1:4, 1:]

       호수   칼로리
메뉴
양념치킨  10호  1400
간장치킨   9호  1600
마늘치킨   9호  1800

In [116]:
df = pd.read_csv('modudak.csv')
df

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [117]:
df['할인율'] = 0.2
df

     메뉴     가격   호수   칼로리  할인율
0  후라이드  12000  10호  1000  0.2
1  양념치킨  13000  10호  1400  0.2
2  간장치킨  14000   9호  1600  0.2
3  마늘치킨  14000   9호  1800  0.2
4    파닭  14000  11호  1300  0.2
5   닭강정  15000  12호  1500  0.2
6  양반후반  13000  10호  1300  0.2

In [119]:
df['할인가'] = df['가격'] * (1 - df['할인율'])
df

     메뉴     가격   호수   칼로리  할인율      할인가
0  후라이드  12000  10호  1000  0.2   9600.0
1  양념치킨  13000  10호  1400  0.2  10400.0
2  간장치킨  14000   9호  1600  0.2  11200.0
3  마늘치킨  14000   9호  1800  0.2  11200.0
4    파닭  14000  11호  1300  0.2  11200.0
5   닭강정  15000  12호  1500  0.2  12000.0
6  양반후반  13000  10호  1300  0.2  10400.0

In [120]:
import numpy as np
df['원산지'] = np.nan
df

     메뉴     가격   호수   칼로리  할인율      할인가  원산지
0  후라이드  12000  10호  1000  0.2   9600.0  NaN
1  양념치킨  13000  10호  1400  0.2  10400.0  NaN
2  간장치킨  14000   9호  1600  0.2  11200.0  NaN
3  마늘치킨  14000   9호  1800  0.2  11200.0  NaN
4    파닭  14000  11호  1300  0.2  11200.0  NaN
5   닭강정  15000  12호  1500  0.2  12000.0  NaN
6  양반후반  13000  10호  1300  0.2  10400.0  NaN

In [122]:
aiffel = ['아이펠치킨', 16000, '11호', 1200, 0.5, 8000,'국내산']
df.loc['new'] = aiffel
df

        메뉴     가격   호수   칼로리  할인율      할인가  원산지
0     후라이드  12000  10호  1000  0.2   9600.0  NaN
1     양념치킨  13000  10호  1400  0.2  10400.0  NaN
2     간장치킨  14000   9호  1600  0.2  11200.0  NaN
3     마늘치킨  14000   9호  1800  0.2  11200.0  NaN
4       파닭  14000  11호  1300  0.2  11200.0  NaN
5      닭강정  15000  12호  1500  0.2  12000.0  NaN
6     양반후반  13000  10호  1300  0.2  10400.0  NaN
new  아이펠치킨  16000  11호  1200  0.5   8000.0  국내산

In [123]:
flip = {'메뉴': '풀잎치킨', '가격': 10000, '호수': '10호'}
df.loc['10'] = flip
df

        메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     후라이드  12000  10호  1000.0  0.2   9600.0  NaN
1     양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2     간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3     마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4       파닭  14000  11호  1300.0  0.2  11200.0  NaN
5      닭강정  15000  12호  1500.0  0.2  12000.0  NaN
6     양반후반  13000  10호  1300.0  0.2  10400.0  NaN
new  아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10    풀잎치킨  10000  10호     NaN  NaN      NaN  NaN

In [124]:
df.loc[0, '원산지'] = '국내산'
df

        메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2     간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3     마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4       파닭  14000  11호  1300.0  0.2  11200.0  NaN
5      닭강정  15000  12호  1500.0  0.2  12000.0  NaN
6     양반후반  13000  10호  1300.0  0.2  10400.0  NaN
new  아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10    풀잎치킨  10000  10호     NaN  NaN      NaN  NaN

In [126]:
df.iloc[4, -1:] = '브라질'
df.iloc[5, -1:] = '브라질'
df

        메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2     간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3     마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4       파닭  14000  11호  1300.0  0.2  11200.0  브라질
5      닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6     양반후반  13000  10호  1300.0  0.2  10400.0  NaN
new  아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10    풀잎치킨  10000  10호     NaN  NaN      NaN  NaN

In [127]:
df = df.replace('양반후반', '양념반후라이드반')
df

           메뉴     가격   호수     칼로리  할인율      할인가  원산지
0        후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1        양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2        간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3        마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          파닭  14000  11호  1300.0  0.2  11200.0  브라질
5         닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6    양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new     아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10       풀잎치킨  10000  10호     NaN  NaN      NaN  NaN

In [128]:
df = df.replace('아이펠치킨', '[인기]아이펠치킨').replace('풀잎치킨', '[베스트]풀잎치킨')
df

            메뉴     가격   호수     칼로리  할인율      할인가  원산지
0         후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1         양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2         간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3         마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4           파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6     양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10   [베스트]풀잎치킨  10000  10호     NaN  NaN      NaN  NaN

In [129]:
df = df.replace({'후라이드': '황금후라이드', '양념치킨': '승일양념치킨'})
df

            메뉴     가격   호수     칼로리  할인율      할인가  원산지
0       황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1       승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2         간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3         마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4           파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6     양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10   [베스트]풀잎치킨  10000  10호     NaN  NaN      NaN  NaN

In [130]:
df = df.replace(10000, 9900)
df

            메뉴     가격   호수     칼로리  할인율      할인가  원산지
0       황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1       승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2         간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3         마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4           파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6     양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10   [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [131]:
df.to_csv('new_modudak.csv')