<a href="https://colab.research.google.com/github/comandi1969/AIFFEL_Online_Quest/blob/main/ML_With_Python/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EA%B8%B0%EC%B4%88_%EB%85%B8%EB%93%9C2_%ED%8C%90%EB%8B%A4%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
menu_list = ['후라이드', '양념치킨', '양반후반']
menu = pd.Series(menu_list)
menu
#type(menu)

0    후라이드
1    양념치킨
2    양반후반
dtype: object

In [10]:
p_list = ['12000', '13000', '13000']
price = pd.Series(p_list)
price
# type(price)

0    12000
1    13000
2    13000
dtype: object

In [16]:
m = pd.DataFrame({'메뉴': menu, '가격': price})
m

     메뉴     가격
0  후라이드  12000
1  양념치킨  13000
2  양반후반  13000

In [17]:
type(m)

pandas.core.frame.DataFrame

In [19]:
data = {'메뉴': ['후라이드', '양념치킨', '양반후반'], '가격': [12000, 13000, 13000], '호수': ['10호', '10호', '9호']}
df = pd.DataFrame(data)
df

     메뉴     가격   호수
0  후라이드  12000  10호
1  양념치킨  13000  10호
2  양반후반  13000   9호

In [22]:
data = {
    "메뉴":['후라이드', '양념치킨', '간장치킨', '마늘치킨', '파닭', '닭강정', '양반후반'],
    "가격":[12000, 13000, 14000, 14000, 14000, 15000, 13000],
    "호수":['10호', '10호', '9호', '9호', '11호', '12호', '10호'],
    "칼로리":[1000, 1400, 1600, 1800, 1300, 1500, 1300],
}
data = pd.DataFrame(data)
data.to_csv('modudak.csv', index=False)

In [23]:
pd.read_csv('modudak.csv')

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [24]:
df = pd.read_csv('modudak.csv')

In [27]:
df.tail()

     메뉴     가격   호수   칼로리
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [26]:
df.head(2)

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400

In [28]:
df.to_csv('test.csv', index=False)

In [30]:
pd.read_csv('test.csv')

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500
6  양반후반  13000  10호  1300

In [33]:
#df['메뉴']
df.메뉴

0    후라이드
1    양념치킨
2    간장치킨
3    마늘치킨
4      파닭
5     닭강정
6    양반후반
Name: 메뉴, dtype: object

In [35]:
df[['메뉴', '가격']]

     메뉴     가격
0  후라이드  12000
1  양념치킨  13000
2  간장치킨  14000
3  마늘치킨  14000
4    파닭  14000
5   닭강정  15000
6  양반후반  13000

In [36]:
type(df[['메뉴', '가격']])

pandas.core.frame.DataFrame

In [37]:
df['가격'] >= 14000

0    False
1    False
2     True
3     True
4     True
5     True
6    False
Name: 가격, dtype: bool

In [39]:
cond = df['가격'] >= 14000
df[cond]

     메뉴     가격   호수   칼로리
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500

In [40]:
cond1 = df['가격'] >= 14000
cond2 = df['호수'] == '9호'
df[cond1 & cond2]

     메뉴     가격  호수   칼로리
2  간장치킨  14000  9호  1600
3  마늘치킨  14000  9호  1800

In [41]:
cond1 = df['가격'] >= 14000
cond2 = df['호수'] == '9호'
df[cond1 | cond2]

     메뉴     가격   호수   칼로리
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
4    파닭  14000  11호  1300
5   닭강정  15000  12호  1500

In [43]:
cond = df['호수'].isin(['9호', '10호'])
df[cond]

     메뉴     가격   호수   칼로리
0  후라이드  12000  10호  1000
1  양념치킨  13000  10호  1400
2  간장치킨  14000   9호  1600
3  마늘치킨  14000   9호  1800
6  양반후반  13000  10호  1300