<a href="https://colab.research.google.com/github/comandi1969/AIFFEL_Online_Quest/blob/main/ML_With_Python/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EA%B8%B0%EC%B4%88_%EB%85%B8%EB%93%9C2_%ED%8C%90%EB%8B%A4%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
menu_list = ['후라이드', '양념치킨', '양반후반']
menu = pd.Series(menu_list)
menu
#type(menu)

0    후라이드
1    양념치킨
2    양반후반
dtype: object

In [10]:
p_list = ['12000', '13000', '13000']
price = pd.Series(p_list)
price
# type(price)

0    12000
1    13000
2    13000
dtype: object

In [16]:
m = pd.DataFrame({'메뉴': menu, '가격': price})
m

     메뉴     가격
0  후라이드  12000
1  양념치킨  13000
2  양반후반  13000

In [17]:
type(m)

pandas.core.frame.DataFrame

In [19]:
data = {'메뉴': ['후라이드', '양념치킨', '양반후반'], '가격': [12000, 13000, 13000], '호수': ['10호', '10호', '9호']}
df = pd.DataFrame(data)
df

     메뉴     가격   호수
0  후라이드  12000  10호
1  양념치킨  13000  10호
2  양반후반  13000   9호