In [9]:
from importlib.metadata import version
import nltk
import tensorflow
from summa.summarizer import summarize
import pandas as pd

print(nltk.__version__)
print(tensorflow.__version__)
print(pd.__version__)
print(version('summa'))

3.6.5
2.6.0
1.3.3
1.2.0

In [2]:
import urllib.request
urllib.request.urlretrieve("https://raw.githubusercontent.com/sunnysai12345/News_Summary/master/news_summary_more.csv", filename="news_summary_more.csv")
data = pd.read_csv('news_summary_more.csv', encoding='iso-8859-1')
data.sample(10)

,headlines,text
77313,Titan's profit rises 96.8% to Ã¢ÂÂ¹238 crore ...,Jewellery and watch maker Titan Company saw it...
35268,3 wildly different Instagrammers capture 3 wil...,Each trip is an exploration of a different the...
60764,NGT orders Delhi govt to seize 10-year-old die...,The National Green Tribunal has directed the D...
92538,Lambeth Palace to get its first new building i...,Lambeth Palace in London will get its first ne...
44140,"Shami was good person, had no doubts over him:...",Indian fast bowler Mohammad Shami's father-in-...
74475,Astronaut captures electrical storm from aboar...,Russian cosmonaut Sergey Ryazanskiy has captur...
71723,Punjab and Haryana HC orders FIR against Radhe...,The Punjab and Haryana High Court on Tuesday o...
44793,"Devising separate law on honour killing, Centr...",The Centre on Wednesday told the Supreme Court...
77391,Maruti spare parts trigger bomb scare at Delhi...,Bomb squads and canine teams were rushed to ch...
37670,Passengers to get free meal on Sunday in case ...,Railway Minister Piyush Goyal has said that fr...

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98401 entries, 0 to 98400
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   headlines  98401 non-null  object
 1   text       98401 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

In [80]:
text = data.iloc[0]['text']
print(f'[text]\n{text}')
headline = data.iloc[0]['headlines']
print(f'[headline]\n{headline}')

[text]
Saurav Kant, an alumnus of upGrad and IIIT-B's PG Program in Machine learning and Artificial Intelligence, was a Sr Systems Engineer at Infosys with almost 5 years of work experience. The program and upGrad's 360-degree career support helped him transition to a Data Scientist at Tech Mahindra with 90% salary hike. upGrad's Online Power Learning has powered 3 lakh+ careers.
[headline]
upGrad learner switches to career in ML & Al with 90% salary hike

In [88]:
print('Summary:')
print(summarize(text, ratio=0.6))

Summary:
upGrad's Online Power Learning has powered 3 lakh+ careers.

In [85]:
def custom_summary(text):
    summarized = summarize(text, ratio=0.6)
    words = summarized.split()
    if len(words) > 20:
        return ' '.join(words[:20])
    return summarized

data['summary'] = data['text'].apply(custom_summary)

In [89]:
# sampled_data = data.sample(3)
sampled_data = data.head(3)

for idx, row in sampled_data.iterrows():
    print(f"Article: {row['text']}")
    print(f"Headlines: {row['headlines']}")
    print(f"Summary: {row['summary']}")
    print("-" * 50)  # This will print a separator line

Article: Saurav Kant, an alumnus of upGrad and IIIT-B's PG Program in Machine learning and Artificial Intelligence, was a Sr Systems Engineer at Infosys with almost 5 years of work experience. The program and upGrad's 360-degree career support helped him transition to a Data Scientist at Tech Mahindra with 90% salary hike. upGrad's Online Power Learning has powered 3 lakh+ careers.
Headlines: upGrad learner switches to career in ML & Al with 90% salary hike
Summary: upGrad's Online Power Learning has powered 3 lakh+ careers.
--------------------------------------------------
Article: Kunal Shah's credit card bill payment platform, CRED, gave users a chance to win free food from Swiggy for one year. Pranav Kaushik, a Delhi techie, bagged this reward after spending 2000 CRED coins. Users get one CRED coin per rupee of bill paid, which can be used to avail rewards from brands like Ixigo, BookMyShow, UberEats, Cult.Fit and more.
Headlines: Delhi techie wins free food from Swiggy for one year on CRED
Summary: Users get one CRED coin per rupee of bill paid, which can be used to avail rewards from brands like
--------------------------------------------------
Article: New Zealand defeated India by 8 wickets in the fourth ODI at Hamilton on Thursday to win their first match of the five-match ODI series. India lost an international match under Rohit Sharma's captaincy after 12 consecutive victories dating back to March 2018. The match witnessed India getting all out for 92, their seventh lowest total in ODI cricket history.
Headlines: New Zealand end Rohit Sharma-led India's 12-match winning streak
Summary: The match witnessed India getting all out for 92, their seventh lowest total in ODI cricket history.
--------------------------------------------------